<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.philimone.hds.explorer">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"  tools:ignore="ScopedStorage" /> -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".init.ApplicationInit"
        android:allowBackup="true"
        android:icon="@mipmap/nui_hds_ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".main.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.barcode.AnyOrientationCaptureActivity"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".main.BarcodeScannerActivity"
            android:theme="@style/ThemeNoActionBar" />
        <activity
            android:name=".main.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".main.sync.SyncPanelActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".main.SurveyActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".main.SurveyHouseholdsActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".main.SurveyMembersActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".main.ShowCollectedDataActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".main.HouseholdDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".main.MemberDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".main.GpsSearchedListActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".main.TrackingListActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".main.TrackingListDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".main.SettingsActivity"
            android:theme="@style/SettingsScreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".main.RegionDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan" />
    </application>

</manifest>